<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Notes Card - Lab 4 - PBP</title>
    <style>
        body {
            margin:0;
            padding:0;
            font-family: 'Montserrat', sans-serif;
            background: #243b55;
            box-sizing: border-box;
        }

        h2 {
          margin-top: 20px;
          text-align: center;
          color: white;
          font-weight: bold;
        }

        /* Navigation Bar */
        nav {
            background-color: #142130; 
            position: sticky;
            padding: 4px;
        }

        nav a {
            color:white;
            text-decoration: solid;
            font-size: smaller;
            background-color: #142130; 
        }

        nav li{
            display: inline;
            margin-right: 4px;
            background-color: #142130; 
        }

        a:hover {
          color: lightsalmon;
          transition: 0.5s;
        }

        /* Cards */
        .cards {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        .card {
          margin: 20px;
          padding: 20px;
          width: 500px;
          min-height: 50px;
          display: grid;
          border-radius: 10px;
          background: rgba(0,0,0,.5);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
          transition: all 0.2s;
        }

        .card:hover {
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
          transform: scale(1.01);
        }

        .card p {
          color: #dddddd;
          margin: 3px;
          position: relative;
        }

        .card #card-title {
          font-weight: bold;
          font-size: larger;
        }

        @media (max-width: 1600px) {
          .cards {
            justify-content: center;
          }
        }
    </style>
  </head>
  <body>
    <nav>
      <li> <a href="http://localhost:8000/lab-4/add-note"> Add </a> </li>
      <li> <a href="http://localhost:8000/lab-4/"> Table </a> </li>
      <li> <a href="http://localhost:8000/lab-4/note-list"> Cards</a> </li>
    </nav>
    <h2> Kumpulan Pesan Untukmu</h2>
    <div class="cards">
      {% if notes%}
          {% for note in notes %}
          <div class="card">
              <p id="card-title">{{ note.title }}</p>
              <p class="card-text">Untuk: {{ note.to }}</p>
              <p class="card-text">Dari: {{ note.from_sender }}</p>
              <p class="card-text">Pesan:</p>
              <p class="card-text">{{ note.message }}</p>
          </div>
          {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
