<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Notes Table - Lab 4 - PBP</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        outline: 0;
        font-family: 'Montserrat', sans-serif;
        background-color: #243b55;
      }

      h2 {
        margin-top: 20px;
        text-align: center;
        color: white;
        font-weight: bold;
      }

      /* Navigation Bar */
      nav {
          background-color: #142130; 
          position: sticky;
          padding: 4px;
      }

      nav a {
          color:white;
          text-decoration: solid;
          font-size: smaller;
          background-color: #142130; 
      }

      nav li{
          display: inline;
          margin-right: 4px;
          background-color: #142130; 
      }
    
      a:hover {
        color:lightsalmon;
        transition: 0.5s;
      }
      
      /* Table */
      .content-table {
        position: absolute;
        left: 15%;
        margin: 25px 0;
        align-items: center;
        font-size: 0.9em;
        width: 70%;
        min-width: 400px;
        box-shadow: 0 0 15px rgba(0,0,0,.5);
        border-radius: 10px;
        border: white;
        overflow: hidden;
      }

      .content-table thead tr {
        color: white;
        text-align: center;
        font-weight: bold;
        border: #dddddd;
      }

      .content-table th {
        padding: 12px 12px;
        background-color: #142130;
        border: #dddddd;
      }

      .content-table td {
        padding: 12px 12px;
        background-color: #dddddd;
        color: black;
      }

    </style>
  </head>
  <body>
    <nav>
      <li> <a href="http://localhost:8000/lab-4/add-note"> Add </a> </li>
      <li> <a href="http://localhost:8000/lab-4/"> Table </a> </li>
      <li> <a href="http://localhost:8000/lab-4/note-list"> Cards </a> </li>
    </nav>
    <h2>Kumpulan Pesan Untukmu</h2>
    <div class="container">
      <table class="content-table">
        <thead>
          <tr>
            <th>Dari</th>
            <th>Untuk</th>
            <th>Tentang</th>
            <th>Pesan</th>
          </tr> 
        </thead>
        <tbody>
          {% if notes %} 
            {% for note in notes %}
            <tr>
              <td>{{ note.to }}</td>
              <td>{{ note.from_sender }}</td>
              <td>{{ note.title }}</td>
              <td>{{ note.message }}</td>
            </tr>
            {% endfor %}
          {% endif %}  
        </tbody>
      </table>
    </div>
    
  </body>
</html>
