<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Notes Form - Lab 4 - PBP</title>
    <style>
        body {
            margin:0;
            padding:0;
            font-family: 'Montserrat', sans-serif;
            background: #243b55;
        }

        /* Navigation Bar */
        nav {
           background-color: rgba(0,0,0,.5); 
           position: sticky;
           padding: 4px;
        }

        nav a {
            color:white;
            text-decoration: solid;
            font-size: smaller;
        }

        nav li{
            display: inline;
            margin-right: 4px;
        }

        a:hover {
            color: lightsalmon;
            transition: 0.5s;
        }

        /* Form Field */
        form {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70%;
            padding: 20px;
            transform: translate(-50%, -50%);
            background: rgba(0,0,0,.5);
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0,0,0,.6);
            border-radius: 10px;
        }

        .user-box {
            width: 100%;
            padding: 5px 0;
            margin-bottom: 5px;
        }
        
        /* Labels */
        h2 {
            padding: 0;
            color: rgb(255, 254, 254);
            text-align: center;
        }

        label {
            display: block;
            padding: 2px;
            color: rgb(255, 254, 254);
            font-size: small;
        }

        label:first-of-type {
            margin-top: 0;
        }

        /* input */
        input {
            padding: .5em;
            border: solid 1 px;
            border-radius: 5px;
        }

        #id_to, #id_from_sender, #id_title {
            min-width: 40%;
        }

        #id_message {
            min-height: 8em;
            min-width: 90%;
            max-width: 95%;
            padding: .5em;
            border-radius: 5px;
        }

        /* button */
        #button {
            margin-top: 2em;
            padding: .5em;
            width: 10em;
            border-radius: 6px;
            background-color:white;
            color: #000000;
            font-weight: bold;
            font-size: 15px;
        }

    </style>
  </head>
  <body>
    <nav>
        <li> <a href="http://localhost:8000/lab-4/add-note"> Add </a> </li>
        <li> <a href="http://localhost:8000/lab-4/"> Table </a> </li>
        <li> <a href="http://localhost:8000/lab-4/note-list"> Cards </a> </li>
    </nav>
    <h2>Apa pesanmu?</h2>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="user-box">
                <label for="id_to">Untuk:</label>
                {{ form.to }}
                <label for="id_from_sender">Dari:</label>
                {{ form.from_sender }}
                <label for="id_title">Tentang:</label>
                {{ form.title }}
                <label for="id_message">Pesan:</label>
                {{ form.message }}
                <br>
                <input type="submit" value="Submit" id="button">
            </div>
        </form>
    </div>
  </body>
</html>