<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab 2 PBP</title>
  </head>
  <style>
      .container {
        outline-style: solid;
        outline-width: 2px;
      }
  </style>
  <body>
    <h1>Notes</h1>
        {% if notes%}
            {% for note in notes %}
            <div class="container">
                <p>To: {{ note.to }}</p>
                <p>From: {{ note.from_sender }}</p>
                <p>Title: {{ note.title }}</p>
                <p>Message: {{ note.message }}</p>
            </div>
            {% endfor %}
        {% endif %}
  </body>
</html>