<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      <body>
        {% if friends %} 
          {% for friend in friends %}
            {{ friend.name }}
            {{ friend.npm }}
            {{ friend.dob }}
          <br/>
          {% endfor %}
        {% endif %}
      </body>      
      <!-- END SECTION -->
    </table>
  </body>
</html>
